* text=auto !eol
/.classpath -text
/.project -text
.settings/org.eclipse.jdt.core.prefs -text
.settings/org.eclipse.m2e.core.prefs -text
/log4j.xml -text
/pom[!!-~]copy.xml -text
/pom.xml -text
src/main/resources/com/example/tests/GoogleTest.java -text
src/test/java/CaptureScreenshotOnFailureListener.java -text
src/test/java/CustomTestListener.java -text
src/test/java/CustomVerification.java -text
src/test/java/TestBase.java -text
src/test/java/TestListenerAdapter.java -text
src/test/java/TestListeners.java -text
src/test/java/TestTest.java -text
src/test/java/WebDriverManager.java -text
src/test/java/WebTestFactory.java -text
src/test/java/elementScreenshot.java -text
src/test/resources/suite.xml -text
target/test-classes/suite.xml -text
test-output/Demo[!!-~]Test[!!-~]Run/Default[!!-~]test.html -text
test-output/Demo[!!-~]Test[!!-~]Run/Default[!!-~]test.xml -text
test-output/Demo[!!-~]Test[!!-~]Run/testng-failed.xml -text
test-output/Test[!!-~]Demo[!!-~]Run/Default[!!-~]test.html -text
test-output/Test[!!-~]Demo[!!-~]Run/Default[!!-~]test.xml -text
test-output/Test[!!-~]Demo[!!-~]Run/testng-failed.xml -text
test-output/bullet_point.png -text
test-output/collapseall.gif -text
test-output/emailable-report.html -text
test-output/failed.png -text
test-output/index.html -text
test-output/jquery-1.7.1.min.js -text
test-output/junitreports/TEST-test.java.TestTest.xml -text
test-output/junitreports/TEST-test.java.VerifyTests.xml -text
test-output/navigator-bullet.png -text
test-output/old/Default[!!-~]suite/Default[!!-~]test.properties -text
test-output/old/Default[!!-~]suite/classes.html -text
test-output/old/Default[!!-~]suite/groups.html -text
test-output/old/Default[!!-~]suite/index.html -text
test-output/old/Default[!!-~]suite/main.html -text
test-output/old/Default[!!-~]suite/methods-alphabetical.html -text
test-output/old/Default[!!-~]suite/methods-not-run.html -text
test-output/old/Default[!!-~]suite/methods.html -text
test-output/old/Default[!!-~]suite/reporter-output.html -text
test-output/old/Default[!!-~]suite/testng.xml.html -text
test-output/old/Default[!!-~]suite/toc.html -text
test-output/old/Demo[!!-~]Test[!!-~]Run/Default[!!-~]test.properties -text
test-output/old/Demo[!!-~]Test[!!-~]Run/classes.html -text
test-output/old/Demo[!!-~]Test[!!-~]Run/groups.html -text
test-output/old/Demo[!!-~]Test[!!-~]Run/index.html -text
test-output/old/Demo[!!-~]Test[!!-~]Run/main.html -text
test-output/old/Demo[!!-~]Test[!!-~]Run/methods-alphabetical.html -text
test-output/old/Demo[!!-~]Test[!!-~]Run/methods-not-run.html -text
test-output/old/Demo[!!-~]Test[!!-~]Run/methods.html -text
test-output/old/Demo[!!-~]Test[!!-~]Run/reporter-output.html -text
test-output/old/Demo[!!-~]Test[!!-~]Run/testng.xml.html -text
test-output/old/Demo[!!-~]Test[!!-~]Run/toc.html -text
test-output/old/Test[!!-~]Demo[!!-~]Run/Default[!!-~]test.properties -text
test-output/old/Test[!!-~]Demo[!!-~]Run/classes.html -text
test-output/old/Test[!!-~]Demo[!!-~]Run/groups.html -text
test-output/old/Test[!!-~]Demo[!!-~]Run/index.html -text
test-output/old/Test[!!-~]Demo[!!-~]Run/main.html -text
test-output/old/Test[!!-~]Demo[!!-~]Run/methods-alphabetical.html -text
test-output/old/Test[!!-~]Demo[!!-~]Run/methods-not-run.html -text
test-output/old/Test[!!-~]Demo[!!-~]Run/methods.html -text
test-output/old/Test[!!-~]Demo[!!-~]Run/reporter-output.html -text
test-output/old/Test[!!-~]Demo[!!-~]Run/testng.xml.html -text
test-output/old/Test[!!-~]Demo[!!-~]Run/toc.html -text
test-output/old/index.html -text
test-output/passed.png -text
test-output/skipped.png -text
test-output/testng-failed.xml -text
test-output/testng-reports.css -text
test-output/testng-reports.js -text
test-output/testng-results.xml -text
test-output/testng.css -text
/testng.xml -text
