* text=auto !eol
/.classpath -text
/.project -text
.settings/org.eclipse.jdt.core.prefs -text
.settings/org.eclipse.m2e.core.prefs -text
/log4j.xml -text
/pom[!!-~]copy.xml -text
/pom.xml -text
src/main/AbstractWebDriverEventListener.java -text
src/main/BaseUrls.java -text
src/main/CaptureScreenshotOnFailureListener.java -text
src/main/ElementScreenshot.java -text
src/main/EventListener.java -text
src/main/TestBase.java -text
src/main/WebDriverManager.java -text
src/pageObjects/Google.java -text
src/pageObjects/HboSignIn.java -text svneol=unset#text/plain
src/pageObjects/HboSignUp.java -text svneol=unset#text/plain
src/pageObjects/HboSignUpForm.java -text svneol=unset#text/plain
src/pageObjects/PlayTrailer.java -text svneol=unset#text/plain
src/pageObjects/Yahoo.java -text
src/test/java/TestHboSignIn.java -text svneol=unset#text/plain
src/test/java/TestHboSignUp.java -text svneol=unset#text/plain
src/test/java/TestSearchEngines.java -text
src/test/java/TestTest.java -text
src/test/java/TestTest2.java -text
src/test/resources/suite.xml -text
src/testng/CustomTestListener.java -text
src/testng/CustomVerification.java -text
src/testng/LoggingListener.java -text
src/testng/TestListenerAdapter.java -text
src/testng/TestListeners.java -text
src/testng/TestMethodListener.java -text
src/utils/FileSeparator.java -text svneol=unset#text/plain
src/utils/ObjectMessages.java -text
src/utils/SafariTest.java -text
src/utils/SafariTest2.java -text
src/utils/SampleDataProvider.java -text
src/utils/TestDataSample.java -text svneol=unset#text/plain
src/utils/WaitTool.java -text svneol=unset#text/plain
src/utils/WebTestFactory.java -text
target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst -text
target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst -text
target/test-classes/suite.xml -text
test-output/html/index.html -text
test-output/html/output.html -text
test-output/html/overview.html -text
test-output/html/reportng.css -text
test-output/html/reportng.js -text
test-output/html/sorttable.js -text
test-output/html/suite1_groups.html -text
test-output/html/suite1_test1_results.html -text
test-output/html/suite1_test2_results.html -text
test-output/html/suites.html -text
test-output/xml/test.java.CopyOfTestHboSignIn_results.xml -text
test-output/xml/test.java.TestDataSample_results.xml -text svneol=unset#text/plain
test-output/xml/test.java.TestHboSignIn_results.xml -text
test-output/xml/test.java.TestHboSignUp_results.xml -text
test-output/xml/test.java.TestSearchEngines_results.xml -text
test-output/xml/test.java.TestTest2_results.xml -text
test-output/xml/test.java.TestTest_results.xml -text
test-output/xml/test.java.TestYahoo_results.xml -text
test-output/xml/utils.SafariTest_results.xml -text
/testng.xml -text
