<suite name="Test Demo Run" verbose="10">
 <listeners>
        <listener class-name="org.uncommons.reportng.HTMLReporter"/>
        <listener class-name="org.uncommons.reportng.JUnitXMLReporter"/>
   </listeners>
  <sysproperty key="org.uncommons.reportng.escape-output" value="false" />    
  <parameter name="browser" value="Firefox" />
  <parameter name="filenamePath" value="/Users/georgegaspar/Documents/Breakpoints.xml" />
  <test name="TestTest" preserve-order="true">
    <classes>
      <class name="test.java.TestTest" />
      <class name="test.java.TestTest2" />
      <class name="WebTestFactory" />
     </classes>
  </test>
</suite>